<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ERI.demo.mappers.ConsultationBoardMapper">

    <!-- 상담 게시글 목록 조회 (페이징) -->
    <select id="selectConsultationBoardList" resultType="com.ERI.demo.vo.ConsultationBoardVO">
        SELECT 
            SEQ,
            TTL,
            CNTN,
            STS_CD,
            CAT_CD,
            ANON_YN,
            NICK_NM,
            FILE_ATT_YN,
            VIEW_CNT,
            ANS_YN,
            ANS_EMP_ID,
            ANS_DT,
            PRI_CD,
            URG_YN,
            REG_EMP_ID,
            UPD_EMP_ID,
            DEL_YN,
            DEL_DT,
            REG_DT,
            UPD_DT
        FROM TB_CNSL_BRD
        WHERE DEL_YN = 'N'
        <if test="searchCondition != null">
            <if test="searchCondition.searchType != null and searchCondition.searchType != ''">
                <choose>
                    <when test="searchCondition.searchType == 'title'">
                        AND TTL LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%')
                    </when>
                    <when test="searchCondition.searchType == 'content'">
                        AND CNTN LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%')
                    </when>
                    <otherwise>
                        AND (TTL LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%') 
                             OR CNTN LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%'))
                    </otherwise>
                </choose>
            </if>
            <if test="searchCondition.categoryCd != null and searchCondition.categoryCd != ''">
                AND CAT_CD = #{searchCondition.categoryCd}
            </if>
            <if test="searchCondition.stsCd != null and searchCondition.stsCd != ''">
                AND STS_CD = #{searchCondition.stsCd}
            </if>
            <if test="searchCondition.anonymousYn != null and searchCondition.anonymousYn != ''">
                AND ANON_YN = #{searchCondition.anonymousYn}
            </if>
            <if test="searchCondition.urgentYn != null and searchCondition.urgentYn != ''">
                AND URG_YN = #{searchCondition.urgentYn}
            </if>
            <if test="searchCondition.startDate != null and searchCondition.startDate != ''">
                AND REG_DT >= #{searchCondition.startDate}::timestamp
            </if>
            <if test="searchCondition.endDate != null and searchCondition.endDate != ''">
                AND REG_DT &lt;= #{searchCondition.endDate}::timestamp + INTERVAL '1 day'
            </if>
        </if>
        ORDER BY 
        <choose>
            <when test="sortBy == 'viewCnt'">VIEW_CNT</when>
            <when test="sortBy == 'answerDate'">ANS_DT</when>
            <otherwise>REG_DT</otherwise>
        </choose>
        <choose>
            <when test="sortDirection == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 상담 게시글 총 개수 조회 -->
    <select id="selectConsultationBoardCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_CNSL_BRD
        WHERE DEL_YN = 'N'
        <if test="searchCondition != null">
            <if test="searchCondition.searchType != null and searchCondition.searchType != ''">
                <choose>
                    <when test="searchCondition.searchType == 'title'">
                        AND TTL LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%')
                    </when>
                    <when test="searchCondition.searchType == 'content'">
                        AND CNTN LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%')
                    </when>
                    <otherwise>
                        AND (TTL LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%') 
                             OR CNTN LIKE CONCAT('%', #{searchCondition.searchKeyword}, '%'))
                    </otherwise>
                </choose>
            </if>
            <if test="searchCondition.categoryCd != null and searchCondition.categoryCd != ''">
                AND CAT_CD = #{searchCondition.categoryCd}
            </if>
            <if test="searchCondition.stsCd != null and searchCondition.stsCd != ''">
                AND STS_CD = #{searchCondition.stsCd}
            </if>
            <if test="searchCondition.anonymousYn != null and searchCondition.anonymousYn != ''">
                AND ANON_YN = #{searchCondition.anonymousYn}
            </if>
            <if test="searchCondition.urgentYn != null and searchCondition.urgentYn != ''">
                AND URG_YN = #{searchCondition.urgentYn}
            </if>
            <if test="searchCondition.startDate != null and searchCondition.startDate != ''">
                AND REG_DT >= #{searchCondition.startDate}::timestamp
            </if>
            <if test="searchCondition.endDate != null and searchCondition.endDate != ''">
                AND REG_DT &lt;= #{searchCondition.endDate}::timestamp + INTERVAL '1 day'
            </if>
        </if>
    </select>

    <!-- 상담 게시글 상세 조회 -->
    <select id="selectConsultationBoardBySeq" resultType="com.ERI.demo.vo.ConsultationBoardVO">
        SELECT 
            SEQ,
            TTL,
            CNTN,
            STS_CD,
            CAT_CD,
            ANON_YN,
            NICK_NM,
            FILE_ATT_YN,
            VIEW_CNT,
            ANS_YN,
            ANS_EMP_ID,
            ANS_DT,
            PRI_CD,
            URG_YN,
            REG_EMP_ID,
            UPD_EMP_ID,
            DEL_YN,
            DEL_DT,
            REG_DT,
            UPD_DT
        FROM TB_CNSL_BRD
        WHERE SEQ = #{seq,jdbcType=BIGINT}
        AND DEL_YN = 'N'
    </select>

    <!-- 상담 게시글 등록 -->
    <insert id="insertConsultationBoard" parameterType="com.ERI.demo.vo.ConsultationBoardVO" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO TB_CNSL_BRD (
            TTL,
            CNTN,
            STS_CD,
            CAT_CD,
            ANON_YN,
            NICK_NM,
            FILE_ATT_YN,
            VIEW_CNT,
            ANS_YN,
            PRI_CD,
            URG_YN,
            REG_EMP_ID,
            UPD_EMP_ID,
            DEL_YN,
            REG_DT,
            UPD_DT
        ) VALUES (
            #{ttl,jdbcType=VARCHAR},
            #{cntn,jdbcType=VARCHAR},
            #{stsCd,jdbcType=VARCHAR},
            #{categoryCd,jdbcType=VARCHAR},
            #{anonymousYn,jdbcType=CHAR},
            #{nickname,jdbcType=VARCHAR},
            #{fileAttachYn,jdbcType=CHAR},
            0,
            'N',
            #{priorityCd,jdbcType=VARCHAR},
            #{urgentYn,jdbcType=CHAR},
            #{regEmpId,jdbcType=VARCHAR},
            #{updEmpId,jdbcType=VARCHAR},
            'N',
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 상담 게시글 수정 -->
    <update id="updateConsultationBoard" parameterType="com.ERI.demo.vo.ConsultationBoardVO">
        UPDATE TB_CNSL_BRD
        SET 
            TTL = #{ttl,jdbcType=VARCHAR},
            CNTN = #{cntn,jdbcType=VARCHAR},
            STS_CD = #{stsCd,jdbcType=VARCHAR},
            CAT_CD = #{categoryCd,jdbcType=VARCHAR},
            ANON_YN = #{anonymousYn,jdbcType=CHAR},
            NICK_NM = #{nickname,jdbcType=VARCHAR},
            FILE_ATT_YN = #{fileAttachYn,jdbcType=CHAR},
            PRI_CD = #{priorityCd,jdbcType=VARCHAR},
            URG_YN = #{urgentYn,jdbcType=CHAR},
            UPD_EMP_ID = #{updEmpId,jdbcType=VARCHAR},
            UPD_DT = CURRENT_TIMESTAMP
        WHERE SEQ = #{seq,jdbcType=BIGINT}
        AND DEL_YN = 'N'
    </update>

    <!-- 상담 게시글 삭제 (논리 삭제) -->
    <update id="deleteConsultationBoard">
        UPDATE TB_CNSL_BRD
        SET 
            DEL_YN = 'Y',
            DEL_DT = CURRENT_TIMESTAMP,
            UPD_EMP_ID = #{empId,jdbcType=VARCHAR},
            UPD_DT = CURRENT_TIMESTAMP
        WHERE SEQ = #{seq,jdbcType=BIGINT}
        AND DEL_YN = 'N'
    </update>

    <!-- 조회수 증가 -->
    <update id="incrementViewCount">
        UPDATE TB_CNSL_BRD
        SET VIEW_CNT = VIEW_CNT + 1
        WHERE SEQ = #{seq,jdbcType=BIGINT}
        AND DEL_YN = 'N'
    </update>

    <!-- 답변 상태 업데이트 -->
    <update id="updateAnswerStatus">
        UPDATE TB_CNSL_BRD
        SET 
            ANS_YN = #{answerYn,jdbcType=CHAR},
            ANS_EMP_ID = #{answerEmpId,jdbcType=VARCHAR},
            ANS_DT = CURRENT_TIMESTAMP,
            UPD_DT = CURRENT_TIMESTAMP
        WHERE SEQ = #{seq,jdbcType=BIGINT}
        AND DEL_YN = 'N'
    </update>

    <!-- 내가 작성한 상담 게시글 목록 조회 -->
    <select id="selectMyConsultationBoardList" resultType="com.ERI.demo.vo.ConsultationBoardVO">
        SELECT 
            SEQ,
            TTL,
            CNTN,
            STS_CD,
            CAT_CD,
            ANON_YN,
            NICK_NM,
            FILE_ATT_YN,
            VIEW_CNT,
            ANS_YN,
            ANS_EMP_ID,
            ANS_DT,
            PRI_CD,
            URG_YN,
            REG_EMP_ID,
            UPD_EMP_ID,
            DEL_YN,
            DEL_DT,
            REG_DT,
            UPD_DT
        FROM TB_CNSL_BRD
        WHERE REG_EMP_ID = #{empId,jdbcType=VARCHAR}
        AND DEL_YN = 'N'
        ORDER BY REG_DT DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 내가 작성한 상담 게시글 총 개수 조회 -->
    <select id="selectMyConsultationBoardCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_CNSL_BRD
        WHERE REG_EMP_ID = #{empId,jdbcType=VARCHAR}
        AND DEL_YN = 'N'
    </select>

</mapper> 